body{
    font-size: 1em;
    text-align: center;
    background-color: rgb(147, 181, 211);
}
button{
    font-size: 19px;
    background-color: rgb(155, 19, 182);
    cursor: pointer;
    font-family: Verdana;
}
button:hover{
    background-color: rgb(238, 11, 158);
}