body{
    background-color: rgba(195, 178, 202, 0.897);
    text-align: center;
    font-family: Verdana;
    cursor: pointer;
    font-size: 2em;
}
.Zbtn{
    font-size: 4.14em;
}
button{
    font-size: 0.98em;
    background-color: rgb(206, 106, 13);
    padding: 10px, 24.23px;
}
button:hover{
    background-color: rgb(202, 174, 48);
}